
.QAMain2{

    .QAMain2-bg{
        
        .QAMain2-content{
            
            display: flex;
            flex-direction: column;
            gap: 48px;
            padding: 144px 0;
            @media (max-width: 992px){
                padding: 64px 0;
            }
            .QAMain2-title{

                .title-set{
                    color: #ffaad7;
                    font-size: 32px;
                    font-weight: 900;
                    text-align: center;
                    @media (max-width: 992px){
                        text-align: start;
                    }
                }
            }

            .QAMain2-table-box{
                width: 100%;
                @media (max-width: 992px){
                    display: none;
                }
                .QAMain2-table{
                    width: 100%;
                    .table-row-set{
                        width: 100%;
                        background-color: #202020;
                        
                        .text-set{
                            font-size: 24px;
                            color:#ffffff;
                            padding: 24px 12px;
                            text-align: center;
                        }
                    }

                    .table-row-content-set{
                        width: 100%;
                        background :linear-gradient(90deg, #000000 5%, #60003A 100%);
                        position: relative;
                        

                        &::after{
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            height: 2px;
                            background: linear-gradient(90deg, #f478ff 5%, #f22082 100%);
                        }

                        .detail-Img-box{
                            padding: 8px;
                            width: 96px;
                            .detail-Img-set{
                                max-width: 100%;
                                height: auto;
                                object-fit: cover;
                            }
                        }
                        .detail-box{
                            
                            gap: 12px;
                            padding: 24px 12px;
                            .text-set{
                                padding: 0px;
                                font-size: 24px;
                                color:#ffffff;
                                text-align: center;
                            }
                        }
                    }   
                }
            }

            .QAMain2-mb-table-box{
                width: 100%;
                height: auto;
                display: none;
                @media (max-width: 992px){
                    display: flex;
                }
                .table-mb-set{
                    
                    width: 40%;
                    background-color: #202020;
                    .text-mb-set{
                        font-size: 16px;
                        color:#ffffff;
                        padding: 24px 12px;
                        text-align: center;
                        border-bottom: 2px solid #454545;
                        min-height: 75px;
                    }
                }

                .table-mb-content-set{
                    width: 60%;
                    background :linear-gradient(90deg, #000000 5%, #60003A 100%);

                    .detail-mb-Img-box{
                        width: 100%;
                        border-bottom: 2px solid #454545;
                        min-height: 75px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .detail-mb-Img-set{
                            width: 64px;
                            height: auto;
                            object-fit: cover;
                        }
                    }
                    .detail-mb-box{
                        gap: 12px;
                        padding: 24px 12px;
                        border-bottom: 2px solid #454545;
                        display: flex;
                        min-height: 75px;
                        .text-mb-set{
                            width: 100%;
                            padding: 0px;
                            font-size: 16px;
                            color:#ffffff;
                            text-align: center;
                        }
                    }
                }

            }
        }
    }
}





