

.offcanvasItem-set{
    width: 100%;
    font-size: 16px;
    padding: 12px 8px;
    border: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    .material-symbols-outlined{
        font-size: 48px;
    }

    &:hover{

        .material-symbols-outlined{
        }
    }

    &.active{
        .material-symbols-outlined{
            font-size: 48px;
            transform:rotate(-180deg);
            transition: 0.2s;
        }
    }
}
.Collapse-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .Collapse-item-set{
        font-size: 16px;
        padding: 12px 24px;
        color: #ffffff;
        background-color: transparent;
        border-radius: 12px;
        &:hover{
            background-color: #E22288;
        }
    }
}