



.PassWordChangePage{
    
    .PassWordChangePage-content{
        
        width: 100%;
        .PassWordChangeForm-set{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 24px;
            .PassWordChangePage-title-box{

                .title-set{
                    font-size: 24px;
                    color: #ffffff;
                }
            }
            
            .PassWordChangePage-Group-box{
                display: flex;
                flex-direction: column;
                gap: 12px;
                width: 100%;
                .originPassWordGroup,.newPassWordGroup,.newPassWordRepeatGroup{
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    width: 100%;
                    .label-set{
                        font-size: 16px;
                        color: #ffffff;
                    }

                    .inputItem-set{

                        width: 100%;
                    }
                }

                .newPassWordGroup,.newPassWordRepeatGroup{

                    .label-set{
                        
                    }

                    .inputItem-set{

                    }
                }
            }
        }
    }
    
}