.qP-main1:target{
    padding-top: 60px;
    margin-top: -60px;
    @include media-breakpoint-up(lg){       
        padding-top: 108px;
        margin-top: -108px;
    }
    @include media-breakpoint-up(xl){       
        padding-top: 95px;
        margin-top: -95px;
    }
    @include media-breakpoint-up(xxl){       
        padding-top: 130px;
        margin-top: -130px;
    } 
}
.qP-main1-bg{
    background: 
        linear-gradient(180deg, $nautral-black 5%, #4F000E 100%);
}
.content-set{ //給xl尺寸以上用
    width: calc(100% - 240px);
}
.qP-main1-title-sm-box{
    h3{
        line-height: 1.5;
    }
}

.qP-main1-table-set-sm{
    width: 100%;
    border: none;
}
.qP-main1-table-td-set-sm.qP-main1-table-td-set-sm{
    width: 45%;
    background-color: #202020;
    color:#ffffff;
    font-weight: 500;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-bottom:2px solid #454545;
}
.qP-main1-table-td-set2-sm.qP-main1-table-td-set2-sm{
    background: 
        linear-gradient(90deg, #000000 5%, #60003A 100%);
    color:#ffffff;
    font-weight: 500;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    border-bottom:2px solid #454545;
}


.table-row1-box{
    width: 100%;
    div{
        width: 100%;
        line-height: 1.2;
        font-size: 24px;
        background-color: #202020;
        color:$nautral-white;
        padding-right: 24px;
        padding-left: 24px;
        padding-top: 24px;
        padding-bottom: 24px;
        border: none;
        display: flex;
        align-items: center;
    }
}
.table-row2-box{
    width: 100%;
    background :linear-gradient(90deg, #000000 5%, #60003A 100%);
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, #f478ff 5%, #f22082 100%) 1;
    div{
        width: 100%;
        line-height: 1.2;
        font-size: 24px;
        color:$nautral-white;
        padding-right: 24px;
        padding-left: 24px;
        padding-top: auto;
        padding-bottom: auto;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.table-row3-box{
    width: 100%;
    background :linear-gradient(90deg, #000000 5%, #60003A 100%);
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, #f478ff 5%, #f22082 100%) 1;
    div{
        width: 100%;
        line-height: 1.2;
        font-size: 24px;
        color:$nautral-white;
        padding-right: 24px;
        padding-left: 24px;
        padding-top: auto;
        padding-bottom: auto;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

