

.MaterialPageMain1::before{
    content:"";
    display: block;
    width: 100%;
    height: 69px;
}

.MaterialPageMain1{
    height: 100vh;
    .MaterialPageMain1-bg{
        width: 100%;
        min-height: calc(100vh - 69px);
        background-image:
            url("/assets/images/Bg/main2/main2-bg-top.png"), 
            url("/assets/images/Bg/main2/main2-bg-sm-bottom.png"),
            linear-gradient(180deg, #000000, #4F000E);
        background-repeat: 
            no-repeat, 
            no-repeat,
            no-repeat;
        background-position:
            top left,
            bottom right,
            center center;
        background-size: 
            auto,
            auto,
            cover;
        @media (max-width: 992px){
            background-image: 
                url("/assets/images/Bg/main2/main2-bg-sm-top.png"), 
                url("/assets/images/Bg/main2/main2-bg-sm-bottom.png"),
                linear-gradient(180deg, #000000, #000000);
            background-size: 
                auto,
                100% 190px,
                cover;
        }

        .MaterialPageMain1-content{
            width: 100%;
            min-height: calc(100vh - 69px);
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 36px;

            .MaterialPageMain1-title{
                
                .title-set{
                    font-size: 48px;
                    font-weight: 900;
                    color: #ffffff;
                    text-align: start;
                    @media (max-width: 768px){
                        font-size: 32px;
                        text-align: center;
                    }
                }
            }

            .swiper-box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;

                @media (max-width: 768px){
                    position: relative;
                }
                .Main1SwiperBtn-set{
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    gap: 72px;

                    @media (max-width: 768px){
                        display: block;
                    }

                    &:hover{
                        .Main1BtnL,.Main1BtnR{
                            animation-play-state: paused;
                        }
                    }
                    .Main1BtnL,.Main1BtnR{
                        background-color: transparent;
                        border: none;
                        filter: drop-shadow(0 0 10px #E22288) drop-shadow(0 0 40px #E22288);
                        &:hover{
                            filter: drop-shadow(0 0 10px #E22288) drop-shadow(0 0 40px #E22288) drop-shadow(0 0 40px #E22288);
                        }
                        @media (max-width: 768px){
                            position: absolute;
                            transform: translate(-50%,-50%);
                            z-index: 10;
                        }
                        .img-box{
                            width: 32px;
                            height: 32px;
                            @media (max-width: 768px){
                                width: 64px;
                                height: 64px;
                            }
                            .img-set{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    .Main1BtnL{

                        // 預設做左右擺動動畫
                        animation: moveLeftSide 1.5s ease-in-out infinite;
                        @media (max-width: 768px){
                            top: 40%;
                            left: -2%;
                        }

                        //左右移動的 keyframes
                        @keyframes moveLeftSide {
                            0%   { transform: translateX(0); }
                            50%  { transform: translateX(6px); }
                            100% { transform: translateX(0); }
                        }
                        
                    }

                    .Main1BtnR{

                        // 預設做左右擺動動畫
                        animation: moveRightSide 1.5s ease-in-out infinite;
                        @media (max-width: 768px){
                            top: 40%;
                            left: 80%;
                        }

                         //左右移動的 keyframes
                        @keyframes moveRightSide {
                            0%   { transform: translateX(0); }
                            50%  { transform: translateX(-6px); }
                            100% { transform: translateX(0); }
                        }
                    }
                }

                .main1SwiperContent{
                    position: relative;
                    z-index: 5;
                    .main1SwiperCardSet{
                        padding: 8px;
                        border-radius: 12px;
                        &.hover{
                            padding: 4px;
                            border: 4px solid #E22288;
                        }
                        @media (max-width: 768px){
                            width: 60%;
                            margin: 0 auto;
                        }
                        .cardImgBox{
                            width: 100%;
                            border-radius: 12px 12px 0 0;
                            overflow: hidden;
                            .cardImg-set{
                                width: 100%;
                                height: auto;
                                object-fit: cover;
                            }
                        }

                        .cardBtnBox{
                            border-top: 4px solid;
                            border-image: linear-gradient(90deg, #F1B1FF 0%,#C10877 100%) 1;
                            min-height: 104px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 12px;
                            padding: 24px;
                            background-color: #202020;
                            border-radius: 0 0 12px 12px;
                            overflow: hidden;

                            .textSet{
                                min-width: 70px;
                                color: #ffffff;
                                text-align: center;
                            }
                            .main1SwiperBtn-set{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
            
        }
    }
}


