


.main4{
    width: 100%;
    min-height: calc(100vh - 69px);
    outline: none;
    border: none;
    background-color: #000000;
    background-image: 
      url("/assets/images/Bg/main4/main4-bg-1.png"), 
      url("/assets/images/Bg/main4/main4-bg-2.png");
    background-repeat: 
      no-repeat, 
      no-repeat;
    background-position:
      bottom right,
      top left;
    @media (max-width: 992px){
      background-image: 
        url("/assets/images/Bg/main4/main4-bg-sm-1.png"), 
        url("/assets/images/Bg/main4/main4-bg-sm-2.png");
    }
    .main4-content{
        width: 100%;
        padding: 144px 0;
        min-height: calc(100vh - 69px);
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 992px){
            padding: 64px 0;
        }
        .main4-title{
          
            .main4-title-set{
              font-size: 48px;
              font-weight: 900;
              color: #ffffff;
              text-align: center;
              @media (max-width: 992px){
                font-size: 32px;
              }
            }
        }

        .main4-title-btn-set{
          font-size: 24px;
          padding: 24px 88px;
          font-weight: 900;
          @media (max-width: 992px){
              padding: 12px 48px;
              font-weight: 700;
          }
        }

        .main4-card-box{
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 24px;
          .card-item{
            width: 100%;
            height: 100%;
            
            .item-set{
              width: 100%;
              font-size: 24px;
              font-weight: 900;
              padding: 42px 0;
              display: flex;
              justify-content: center;
              align-items: center;
              @media (max-width: 576px){
                min-height: 156px;
              }
              .text-set{
                max-width: 100%;
                text-align: center;
                @media (max-width: 576px){
                  max-width: 130px;
                  white-space: normal;
                }
              }
            }
          }
        }

    }
}
