/* 日曆容器 */
.calendar-container {
    display: inline-block;
    font-family: Arial, sans-serif;
}

/* 日期顯示區塊 */
.date-display {
    width: 180px;
    padding: 10px;
    text-align: center;
    border: 2px solid #6E002C;
    border-radius: 5px;
    background-color: #6E002C;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: #ecf0f1;
}

.date-display:hover {
    background-color: #ecf0f1;
}

/* 日曆本體 */
.calendar {
    top: 50px;
    left: 0;
    width:100%;
    background: #6E002C;
    border: 2px solid #6E002C;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 10;
    color: #ecf0f1;
}

/* 月份切換按鈕 */
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #ecf0f1;
    margin-bottom: 10px;
}

.calendar-header button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #ecf0f1;
    font-weight: bold;
}

.calendar-header button:hover {
    color: #ecf0f1;
}

/* 星期標題 */
.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    color: #ecf0f1;
    margin-bottom: 5px;
    font-size: 24px;
}

/* 日期格子 */
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    // gap: 5px;
}

.day {
    padding: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease;
    font-size: 24px;
}

/* 今天的日期標記 */
.today {
    background: #E22288;
    color: white;
    font-weight: bold;
}

/* 選擇日期的樣式 */
.day:hover {
    background: #6E002C;
}

.day:active {
    background: #000000;
    color: white;
    font-weight: bold;
}

.day.is-selected {
  background: #09ff00;
  color: #fff;
  font-weight: bold;
  outline: 2px solid #000;
}
