










  



.AboutUsMain4{
    height: auto;
    .AboutUsMain4-bg{
        width: 100%;
        min-height: calc(100vh - 69px);

        outline: 
            none;
        border: 
            none;
        background-image:
            linear-gradient(180deg, #000000, #60003A);
        background-repeat: 
            no-repeat;
        background-position:
            center center;
        background-size: 
            cover;
        @media (max-width: 992px){
            background-image: 
            linear-gradient(180deg, #000000, #000000);
        }

        .AboutUsMain4-content{
            padding: 72px 0;
            width: 100%;
            min-height: calc(100vh - 69px);
            @media (max-width: 992px){
                padding: 36px 0;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24px;
            .AboutUsMain4-title{
                width: 100%;
                max-width: 860px;
                text-align: start;
                @media (max-width: 992px){
                    text-align: center;
                }
                .title-set{
                    font-size: 32px;
                    color: #ffaad7;
                    @media (max-width: 992px){
                        font-size: 32px;
                    }
                }
            }

            .from-set{ 
                display: flex;
                flex-direction: column;
                width: 100%;

                .message-group{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    .message-label-set{
                        
                    }

                    .aboutUs-textarea-box{
                        width: 100%;
                        position: relative;
                        margin-bottom: 24px;
                        .message-input-set{
                            width: 100%;
                        }

                        .aboutUs-textarea-set{
                            resize: none;//textarea禁止右下角拉伸
                        }

                          
                        .aboutUs-textarea-result{
                            position: absolute;
                            right: 36px;
                            bottom: 20px;
                            color: #ffffff;
                            opacity: 60%;
                            @media (max-width: 1400px){
                                right: 16px;
                                bottom: 12px;
                            }
                        }
                    }
                    
                }

                .aboutUs-label-set{//label設定
                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: 24px;
                    color: #ffffff;
                    @media (max-width: 992px){
                        margin-bottom: 12px;
                        font-weight: 900;
                    }
                }

                .aboutUs-input-set{//input設定
                    outline: none;
                    background: transparent;
                    color:#ffffff;
                    border:2px solid #ffffff;
                    border-radius: 5px;
                    
                    font-size: 24px;
                    font-weight: 500;
                    padding: 20px 36px;
                    @media (max-width: 992px){
                        font-size: 16px;
                        padding: 12px 16px;
                    }
                }

                .form-btn-set{
                    width: 100%;
                    font-size: 24px;
                    padding: 24px 0;
                    font-weight: 900;
                    @media (max-width: 992px){
                        padding: 12px 0;
                    }
                } 
            }
        }
    }
}
