


.countryGroup{
    
    width: 100%;
    .dropdown{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 12px;
        .countryTitle{
            width: 100%;
            font-size: 24px;
            font-weight: 400;
            color: #ffffff;
        }
        .title-dropdown{
            
        }

        .dropdown-toggle{
            width: 100%;
        }

        .triple-dropdown-menu{
            width: 100%;
            position: absolute;
            padding: 0px;
            background-color: #000000;
            border-radius: 12px;
            .menu-column,.main-menu{
                display: flex;
                flex-direction: column;
                height: 200px;
                overflow: hidden;
                overflow-y: auto;
                .menu-btn{

                    color: #ffffff;
                    font-size: 24px;
                    padding: 20px 0;
                    text-align: center;
                    border-radius: 12px;
                    &:hover{
                        background-color: #8B0018;
                    }
                }

                /* Chrome/Edge/Safari */
                //寬度
                &::-webkit-scrollbar {
                    width: 8px;
                }
                //背景色
                &::-webkit-scrollbar-track {
                    background: #383838;
                    border-radius: 10px;
                }
                //
                &::-webkit-scrollbar-thumb {
                    background-color: #8B0018;
                    border-radius: 10px;
                    border: 2px solid #8B0018;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background-color: #8B0018;
                }
            }
        }
    }
}