<div class="footer-container-box">
    <div class="container">
            
        <div class="footer-logo mb-32 mb-xl-48">
            <a href="index.html" class="footer-img-box">
                <picture>
                    <source srcset="../assets/images/footer-sm-logo.png" media="(max-width:1200px)">
                    <img class="d-block mx-auto mb-12 mb-xl-0" src="../assets/images/footer-logo.png" alt="footer-logo">
                </picture>
                <div class="text-nautral-white fs-32 fw-600 lh-12 d-xl-none">Come & Buy</div>
            </a>
            <!-- <div class="text-nautral-white fs-32 fw-600 lh-12 d-xl-none">Come & Buy</div> -->
        </div>
        
        <div class="main d-xl-flex justify-content-xl-between mb-xl-48">

            <div class="card-box mb-32 mx-auto mx-xl-0 mb-xl-0  d-xl-flex flex-xl-column justify-content-xl-between">
                <div class="card01 card-set mb-16">
                    <div class="card-img-box">
                        <img src="../assets/images/footer-Location.png" alt="footer-Location">
                    </div>
                    <div class="card-text footer-text-set">
                        地址：台中市大雅區神仙路1號
                    </div>
                </div>
                <div class="card02 card-set mb-16">
                    <div class="card-img-box">
                        <img src="../assets/images/footer-Email.png" alt="footer-Email">
                    </div>
                    <div class="card-text footer-text-set">
                        <a class="a-re" href="mailto:m.bluth@example.com">
                            come_and_buy@comebuy.com
                        </a>
                    </div>
                </div>
                <div class="card03 card-set mb-16">
                    <div class="card-img-box">
                        <img src="../assets/images/footer-Phone.png" alt="footer-Phone">
                    </div>
                    <div class="card-text footer-text-set">
                        <a class="a-re" href="+886-4-9408-1688">
                            (04)9408-1688
                        </a>
                    </div>
                </div>
                <div class="card04 card-set ">
                    <div class="card-img-box">
                        <img src="../assets/images/footer-Time.png" alt="footer-Time">
                    </div>
                    <div class="card-text footer-text-set">
                        9:00am - 18:00pm
                    </div>
                </div>
            </div>
            
            <div class="article">
                <div class="text-content d-flex gap-32 justify-content-center mb-32 gap-xl-48 mb-xl-48">
                    <div class="text-box d-flex flex-column row-gap-16 row-gap-xl-24">
                        <span class="fs-16 fw-medium fs-xl-24 footer-text-set">
                            <a class="a-re" href="index.html">
                                線上估價
                            </a>
                        </span>
                        <span class="fs-16 fw-medium fs-xl-24 footer-text-set">
                            <a class="a-re" href="index.html#index-main4">
                                服務項目
                            </a>
                        </span>
                        <span class="fs-16 fw-medium fs-xl-24 footer-text-set">
                            <a class="a-re" href="index.html#index-main5">
                                最新消息
                            </a>
                        </span>
                    </div>
                    <div class="text-box d-flex flex-column row-gap-16 row-gap-xl-24">
                        <span class="fs-16 fw-medium fs-xl-24 footer-text-set">材料介紹</span>
                        <span class="fs-16 fw-medium fs-xl-24 footer-text-set">設備介紹</span>
                        <span class="fs-16 fw-medium fs-xl-24 footer-text-set">專利介紹</span>
                    </div>
                    <div class="text-box d-flex flex-column row-gap-16 row-gap-xl-24">
                        <span class="fs-16 fw-medium fs-xl-24 footer-text-set">
                            <a class="a-re" href="aboutUs.html#abus-main2">
                                公司介紹
                            </a>
                        </span>
                        <span class="fs-16 fw-medium fs-xl-24 footer-text-set">
                            <a class="a-re" href="aboutUs.html#abus-main3">
                                售後服務
                            </a>
                        </span>
                        <span class="fs-16 fw-medium fs-xl-24 footer-text-set">
                            <a class="a-re" href="qaPage.html">
                                運費說明
                            </a>
                        </span>
                        <span class="fs-16 fw-medium d-xl-none footer-text-set">
                            <a class="a-re" href="aboutUs.html#abus-main4">
                                聯絡我們
                            </a>
                        </span>
                    </div>
                    <div class="text-box d-flex flex-column d-none d-xl-block">
                        <span class="fs-xl-24 fw-medium footer-text-set">
                            <a class="a-re" href="aboutUs.html#abus-main4">
                                聯絡我們
                            </a>
                        </span>
                    </div>
                </div>

                <div class="footer-icon d-flex justify-content-center gap-32 mb-32  justify-content-xl-start mb-xl-0">
                    <div class="footer-icon-box">
                        <img src="../assets/images/footer-Facebook.png" alt="footer-Facebook">
                    </div>
                    <div class="footer-icon-box">
                        <img src="../assets/images/footer-Instagram.png" alt="footer-Instagram">
                    </div>
                    <div class="footer-icon-box">
                        <img src="../assets/images/footer-Line.png" alt="footer-Line">
                    </div>
                    <div class="footer-icon-box">
                        <img src="../assets/images/footer-YouTube.png" alt="footer-YouTube">
                    </div>
                </div>
            </div>

        </div>

        <div class="footer-text-set text-center px-12 fs-16 footer-footer-set mx-auto  fs-xl-24 py-xl-48 ">
            Come_and_Buy © 2021, In Here. All Rights Reserved.隱私權政策
        </div>

    </div>
  </div>