<nav class="navbar fixed-top nav-bg-set nav-border-set w-100 pt-24 pb-20 px-16 navbar-expand-xxl py-xxl-16"> <!--最外層 pd放這邊 navbar-expand-lg-->
    <div class="container-fluid px-0 justify-content-xxl-center gap-xxl-32"> <!--中間容器 不動-->
        <a class="navbar-brand py-0 px-0 mx-0" href="../pages/index.html"> <!--標格 or Logo標誌-->
            <picture>
                <source srcset="../assets/images/logo-sm.png" media="(max-width:992px)">
                <img src="../assets/images/logo.png" alt="home-section2-1">
            </picture>
        </a>

        <button class="navbar-toggler border-0 py-0 px-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">  
            <div class="navbar-menu-img-box">
                <img src="../assets/images/Menu.png" alt="Menu.png">
            </div>  
        </button><!--漢堡標誌 lg不顯示-->

        <div class="offcanvas offcanvas-end nav-aside-page-set" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel"><!--漢堡內部內容-->
            <div class="offcanvas-header pt-32 px-26 pb-8"><!--漢堡內部內容 標題區 lg不顯示-->
                <button type="button" class="navbar-close-img-box py-0 ms-auto" data-bs-dismiss="offcanvas" aria-label="Close">
                    <div class="navbar-close-img-box">
                        <img class="navbar-close-img-box" src="../assets/images/Close.png" alt="Close.png">
                    </div>
                </button>
            </div>
            <div class="offcanvas-body  py-0  align-items-xxl-center gap-xxl-32 px-xxl-0 py-xxl-0"><!--漢堡內部內容 內容區-->
                <ul class="navbar-nav justify-content-center align-items-xxl-center gap-xxl-32">
                    <li class="nav-item mb-12 mb-lg-0 ms-xxl-48 mx-auto dropdown pe-auto border-low"> <!--漢堡內部內容 最新消息子項目-->
                        <button type="button" class="select-btn-set text-center" id="select-btn01-active" aria-current="page" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                            最新消息
                            <span class="material-symbols-outlined ms-xxl-4 d-none d-xxl-block"><!--最新消息子項目右邊icon-->
                                arrow_drop_down
                            </span>
                        </button>
                          <ul class="dropdown-menu dropdown-menu01-set py-xxl-0 mt-lg-24" aria-labelledby="select-btn01-active"><!--最新消息子項目下拉選項mt-lg-24-->
                              <li><a class="dropdown-item dropdown-item-set" href="../pages/index.html#index-main5">最新消息</a></li>
                              <li><a class="dropdown-item dropdown-item-set" href="#">優惠活動</a></li>
                              <li><a class="dropdown-item dropdown-item-set" href="#">合作廠商</a></li>
                              <li><a class="dropdown-item dropdown-item-set" href="../pages/aboutUs.html#abus-main4">聯絡我們</a></li>
                          </ul>
                    </li>
                    <li class="nav-item mb-12 mb-xxl-0 mx-auto border-low dropdown"> <!--漢堡內部內容 線上估價子項目-->
                        <a class="select-btn-set text-center" id="select-btn02-active" aria-current="page" href="../pages/oEstimate.html">
                        線上估價
                        </a>
                    </li>
                    <li class="nav-item mb-12 mb-xxl-0 mx-auto border-low"> <!--漢堡內部內容 材料選擇子項目-->
                        <a class="select-btn-set text-center" id="select-btn03-active" aria-current="page" href="#">材料選擇</a>
                    </li>
                    <li class="nav-item mb-12 mb-xxl-0 mx-auto border-low  dropdown"> <!--漢堡內部內容 新手指南QA子項目-->
                        <a class="select-btn-set text-center" id="select-btn04-active" aria-current="page" href="#"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        新手指南QA
                            <span class="material-symbols-outlined ms-xxl-4 d-none d-xxl-block"><!--新手指南QA子項目右邊icon-->
                                arrow_drop_down
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu02-set py-xxl-0 mt-lg-24" aria-labelledby="select-btn01-active"><!--新手指南QA子項目下拉選項-->
                            <li><a class="dropdown-item dropdown-item-set" href="../pages/qaPage.html#">客製化流程</a></li>
                            <li><a class="dropdown-item dropdown-item-set" href="../pages/qaPage.html#qP-main1">設計需求介紹</a></li>
                            <li><a class="dropdown-item dropdown-item-set" href="../pages/qaPage.html#qP-main2">運費說明</a></li>
                            <li><a class="dropdown-item dropdown-item-set" href="../pages/qaPage.html#qP-main3">常見問題</a></li>
                        </ul>
                    </li>
                    <li class="nav-item mb-16 mb-xxl-0 mx-auto border-low"> <!--漢堡內部內容 聯絡我們子項目-->
                        <a class="select-btn-set text-center" id="select-btn05-active" aria-current="page" href="../pages/aboutUs.html">聯絡我們</a>
                    </li>
                </ul>
                <div class="navbar-log1 d-block"> <!--log-in 未登錄狀態-->
                    <button type="button" class="navbar-log1-img-box py-0 d-block mx-auto">
                        <div class="navbar-log1-img-box">
                            <img class="navbar-log1-img-box" src="../assets/images/log01.png" alt="log01.png">
                        </div>
                    </button>
                </div>
                <div class="navbar-log2 d-none"> <!--log-in 登錄狀態-->
                    <button type="button" class="navbar-log2-img-box py-0 d-block mx-auto">
                        <div class="navbar-log2-img-box">
                            <img class="navbar-log2-img-box" src="../assets/images/log02.png" alt="log02.png">
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</nav>