
.AboutUsMain2{
    height: auto;
    .AboutUsMain2-bg{
        width: 100%;
        min-height: calc(100vh - 69px);
        outline: 
            none;
        border: 
            none;
        background-image:
            url("/assets/images/Bg/main2/main2-bg-top.png"), 
            url("/assets/images/Bg/main2/main2-bg-sm-bottom.png"),
            linear-gradient(180deg, #000000, #000000);
        background-size: 
            auto,
            auto,
            cover;
        background-repeat: 
            no-repeat, 
            no-repeat,
            no-repeat;
        background-position:
            top left,
            bottom right,
            center center;
        
        @media (max-width: 992px){
            background-image: 
            url("/assets/images/Bg/main2/main2-bg-sm-top.png"), 
            url("/assets/images/Bg/main2/main2-bg-sm-bottom.png"),
            linear-gradient(180deg, #000000, #000000);
            background-size: 
            auto,
            100% 190px, //完全貼合標籤容器寬度和限制高為190px 會失真
            cover;
        }

        .AboutUsMain2-content{
            padding: 72px 0;
            width: 100%;
            min-height: calc(100vh - 69px);
            @media (max-width: 992px){
                padding: 72px 0px;
            }
            display: flex;
            justify-content: center;
            align-items: center;

            .AboutUsMain2-Introduce-box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                gap: 72px;
                height: 100%;
                
                @media (max-width: 1200px){
                    gap: 32px;
                    align-items: center;
                }
                .AboutUsMain2-title{
                    width: 100%;
                    max-width: 720px;
                    text-align: start;
                    @media (max-width: 992px){
                        text-align: center;
                    }
                    .title-set{
                        font-size: 64px;
                        color: #ffaad7;
                        @media (max-width: 992px){
                            font-size: 32px;
                        }
                    }
                }

                .AboutUsMain2-text-box{
                    max-width: 720px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 16px;
                    @media (max-width: 992px){
                        align-items: center;
                        gap: 0px;
                    }
                    .text-set{
                        color: #ffffff;
                        font-size: 24px;
                        text-align: start;
                        @media (max-width: 992px){
                            text-align: center;
                            font-size: 16px;
                        }
                    }
                }
            }
            
            .AboutUsMain2-left-box-set{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .AboutUsMain2-img-box-set{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 32px;
                    
                    .AboutUsMain2-img-set{
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
            
        }
    }
}