//字體區
//字體區
//bootstrap5
@import "../../node_modules/bootstrap/scss/functions";
@import './utils/variables';
@import "../../node_modules/bootstrap";
//bootstrap5
//文字的響應式變化
$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
  )
);
//文字的響應式變化
//顏色
$utilities: map-merge(
  $utilities,
  (
    "color":
      map-merge(
        map-get($utilities, "color"),
        (
          responsive: true,
        )
      ),
  )
);
//顏色
//斷點
$utilities: map-merge(
  $utilities,
  (
    "display":
      map-merge(
        map-get($utilities, "display"),
        (
          responsive: true,
        )
      ),
  )
);
@import "bootstrap/scss/utilities/api";
//斷點

@import "./base/base";
@import "./helper/helper";

@import './layout/header.scss';
@import './layout/footer.scss';
@import './pages/btn.scss';
@import './pages/index.scss';
