.abus-main4:target{
    padding-top: 60px;
    margin-top: -60px;
    @include media-breakpoint-up(lg){       
        padding-top: 108px;
        margin-top: -108px;
    }
    @include media-breakpoint-up(xl){       
        padding-top: 95px;
        margin-top: -95px;
    }
    @include media-breakpoint-up(xxl){       
        padding-top: 130px;
        margin-top: -130px;
    } 
}
.abus-main4-bg-set{ //背景為上左和下右各一個貼圖加背景漸層 //原 - main2
    width: 100%;
    height: auto;
    outline: 
        none;
    border: 
        none;
    background-image: 
        linear-gradient(180deg, #000000, #000000);
    background-repeat: 
        no-repeat;
    background-position:
        center center;
    background-size: 
        cover;
    @include media-breakpoint-up(lg){  
        background-image:
            linear-gradient(180deg, #000000, #60003A);
        background-size: 
            cover;
    }
  }

  .aboutUs-label-set{
    line-height: 1.5;
    @include media-breakpoint-up(lg){  
        line-height: 1.2;
    }
  }

  .aboutUs-input-set{
    background: 
        transparent;
    border:
        2px solid $nautral-white;
    outline: 
        none;
    color:
        $nautral-white;
    border-radius: 
        5px;
  }

  .aboutUs-textarea-set{
    resize: 
        none;
    background: 
        transparent;
    border:
        2px solid $nautral-white;
    outline: 
        none;
    color:
        $nautral-white;
    border-radius: 
        5px;
  }
  .aboutUs-textarea-box{
    position: relative;
  }
  .aboutUs-textarea-result{
    position: absolute;
    right: 16px;
    bottom: 12px;
    color: $nautral-white;
    opacity: 60%;
    @include media-breakpoint-up(xxl){  
        right: 36px;
        bottom: 20px;
    }
  }

  /* 自訂樣式 */
  .modal-dialog { 
    /* 調整視窗大小
    modal-dialog 是控制彈出視窗的整體對話框 控制視窗寬度*/
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.modal-content {
/* 彈出視窗內容樣式
   modal-content 是彈出視窗的主要內容層，可以設定背景色、邊框、陰影等 */
   background-color: red;
  border-radius: 10px;
  border: none;
}
.test-aa{
  background-color: red;
  border-radius: 10px;
  border: none;
}

.modal-header {
/* 控制標題和按鈕樣式
modal-header：可以調整標題區域的背景顏色和字體大小。
modal-footer：可以調整按鈕的間距或樣式。 */
  background-color: #007bff;
  color: white;
}

.modal-footer .btn {
  margin: 0 5px;
}