



.oEstimate-main3-btn01-set{
    border:1px solid $nautral-white;
    border-radius: 5px;
    @include media-breakpoint-up(xl){  
        width: 48%;
    }
}


.ousidematerial-item-set{
    border:2px solid $nautral-white;
    border-radius: 5px;
}

.ousidematerial-item-menu-set{

}
.oEstimate-main3-ousidematerial-box-set{
    @include media-breakpoint-up(xl){  
        form{
            label{
                width: 120px;
            }
            input{
                width: 644px;
            }
        }
    }
}
