.MyOrder{
    
    .MyOrder-content-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 24px;
        .title-set{
            font-size: 24px;
            color: #ffffff;
        }

        .orderList-box{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 12px;
            .order-title-box{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .title-set{
                    width: 100%;
                    text-align: center;
                    .title-text-set{
                        color: #ffffff;
                        font-size: 16px;
                    }
                }
            }
            .order-item-box{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 12px;
                .item-set{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    padding: 8px 0;
                    border-radius: 8px;
                    background-color: #000000;
                    .text-set-box{
                        width: 100%;
                        text-align: center;
                        .text-set{
                            color: #ffffff;
                            font-size: 16px;
                        }
                    }

                    .img-set-box{
                        width: 100%;
                        text-align: center;
                        .img-set{
                            width: 48px;
                            height: 48px;
                            object-fit: cover;
                            border-radius: 8px;
                            background-color: #ffffff;
                        }
                    }

                    .btn-set-box{
                        width: 100%;
                        text-align: center;
                        .btn-set{
                            border: none;
                            background-color: #202020;
                            color: #ffffff;
                            padding: 8px;
                            border-radius: 8px;

                            &:hover{
                                background-color: #6E002C;
                            }
                        }
                    }
                }
            }
        }
    }
    
}