.test-set{
    background-color: #000000;
    background-image:url(/assets/images/bg-01.png);
    background-attachment:scroll;
    background-repeat:no-repeat;
    background-position:center -550px;
}