<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>qaPage</title>
  </head>
  <body>
    <%- include('./layout/nav'); -%>

    <div class="qaPage-title qaPage-title-bg">
      <div class="container">
        <div class="row"> 
          <div class="col-12">
            <div class="qaPage-title-box">
              <h3 class="fs-32 fs-xxl-64 fw-900 qaPage-title-set text-nautral-white text-center py-16 py-xxl-40">新手指南/QA</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="qP-main1 w-100 abus-main1-bg-set">
      <div class="container py-48 py-xxl-0">
        <div class="row">
          <div class="col-12">
            
          </div>
          <div class="col-12">
            
          </div>
        </div>
      </div>
    </div>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
