
.MaterialPageMain3{
    height: auto;
    .MaterialPageMain3-bg{
        width: 100%;
        min-height: calc(100vh - 69px);
        outline: 
            none;
        border: 
            none;
        background-color: 
            #000000;
        background-image: 
            url("/assets/images/Bg/main4/main4-bg-1.png"), 
            url("/assets/images/Bg/main4/main4-bg-2.png");
        background-repeat: 
            no-repeat, 
            no-repeat;
        background-position:
            bottom right,
            top left;
        @media (max-width: 992px){
            background-image: 
            url("/assets/images/Bg/main4/main4-bg-sm-1.png"), 
            url("/assets/images/Bg/main4/main4-bg-sm-2.png");
        }

        .MaterialPageMain3-content{
            width: 100%;
            min-height: calc(100vh - 69px);
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 36px;

            .MaterialPageMain3-title{
                
                .title-set{
                    font-size: 48px;
                    font-weight: 900;
                    color: #ffffff;
                    text-align: start;
                    @media (max-width: 768px){
                        font-size: 32px;
                        text-align: center;
                    }
                }
            }

            .swiper-box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;

                @media (max-width: 768px){
                    position: relative;
                }
                .Main3SwiperBtn-set{
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    gap: 72px;

                    @media (max-width: 768px){
                        display: block;
                    }
                    
                    &:hover{
                        .Main3BtnL,.Main3BtnR{
                            animation-play-state: paused;
                        }
                    }

                    .Main3BtnL,.Main3BtnR{
                        background-color: transparent;
                        border: none;
                        filter: drop-shadow(0 0 10px #E22288) drop-shadow(0 0 40px #E22288);
                        &:hover{
                            filter: drop-shadow(0 0 10px #E22288) drop-shadow(0 0 40px #E22288) drop-shadow(0 0 40px #E22288);
                        }
                        @media (max-width: 768px){
                            position: absolute;
                            z-index: 10;
                        }
                        .img-box{
                            width: 32px;
                            height: 32px;
                            @media (max-width: 768px){
                                width: 64px;
                                height: 64px;
                            }
                            .img-set{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    .Main3BtnL{
                        // 預設做左右擺動動畫
                        animation: moveLeftSide 1.5s ease-in-out infinite;
                        @media (max-width: 768px){
                            top: 40%;
                            left: -2%;
                        }

                        //左右移動的 keyframes
                        @keyframes moveLeftSide {
                            0%   { transform: translateX(0); }
                            50%  { transform: translateX(6px); }
                            100% { transform: translateX(0); }
                        }
                        
                    }

                    .Main3BtnR{
                        // 預設做左右擺動動畫
                        animation: moveRightSide 1.5s ease-in-out infinite;
                        @media (max-width: 768px){
                            top: 40%;
                            left: 80%;
                        }

                         //左右移動的 keyframes
                        @keyframes moveRightSide {
                            0%   { transform: translateX(0); }
                            50%  { transform: translateX(-6px); }
                            100% { transform: translateX(0); }
                        }
                    }
                }

                .main3SwiperContent{
                    position: relative;
                    z-index: 5;
                    .main3SwiperCardSet{
                        padding: 8px;
                        border-radius: 12px;
                        &.hover{
                            padding: 4px;
                            border: 4px solid #E22288;
                        }
                        @media (max-width: 768px){
                            width: 60%;
                            margin: 0 auto;
                        }
                        .cardImgBox{
                            width: 100%;
                            border-radius: 12px 12px 0 0;
                            overflow: hidden;
                            .cardImg-set{
                                width: 100%;
                                height: auto;
                                object-fit: cover;
                            }
                        }

                        .cardBtnBox{
                            border-top: 4px solid;
                            border-image: linear-gradient(90deg, #F1B1FF 0%,#C10877 100%) 1;
                            min-height: 104px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 12px;
                            padding: 32px;
                            background-color: #202020;
                            border-radius: 0 0 12px 12px;
                            overflow: hidden;
                           
                            .textSet{
                                min-width: 70px;
                                color: #ffffff;
                                text-align: center;
                            }
                            .main1SwiperBtn-set{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }
                }
            }
            
        }
    }
}


