.main2{
    width: 100%;
    min-height: calc(100vh - 69px);

    background-image:
        url("/assets/images/Bg/main2/main2-bg-top.png"), 
        url("/assets/images/Bg/main2/main2-bg-sm-bottom.png"),
        linear-gradient(180deg, #000000, #4F000E);
    background-repeat: 
        no-repeat, 
        no-repeat,
        no-repeat;
    background-position:
        top left,
        bottom right,
        center center;
    background-size: 
        auto,
        auto,
        cover;
    @media (max-width: 992px){
        background-image: 
            url("/assets/images/Bg/main2/main2-bg-sm-top.png"), 
            url("/assets/images/Bg/main2/main2-bg-sm-bottom.png"),
            linear-gradient(180deg, #000000, #000000);
        background-size: 
            auto,
            100% 190px,
            cover;
    }

    .main2-content{

        width: 100%;
        padding: 64px 0px;
        min-height: calc(100vh - 69px);
        display: flex;
        justify-content: center;
        align-items: center;

        .main2-card-set{
            width: 100%;
            border: none;
            outline: none;

            .main2-card-img-box-set{
                width: 100%;
                background-color: #000000;
                border: 4px solid;
                border-image: linear-gradient(to right, #F1B1FF, #C10877) 1;

                img{
                    display: block;
                    margin-left:auto ;
                    margin-right: auto;
                    padding-top: 36px;
                    padding-bottom: 36px;
                }
            }

            .main2-box{
                width: 100%;
                height: 84px;
                outline: none;
                background: #97003A;
                padding-top:42px ;
                padding-bottom: 42px;
                padding-left:auto ;
                padding-right:auto;
                position: relative;
                clip-path: polygon(0 0,100% 0,100% 100%,40px 100%,0 calc(100% - 40px));
                background-repeat: no-repeat;
                border: none;

                .main2-box-text{
                    font-size: 24px;
                    font-weight: 900;
                    color:#fff;
                    @media (max-width: 1200px){
                        font-size: 32px;
                    }
                }
            }

            .main2-box:before {
                content: "";
                display: none;
            }
        }

        .mian2-checkBtn-Box-Set{
            display: flex;
            justify-content: center;
            align-items: center;
            .mian2-checkBtn-Set{
                font-size: 24px;
                font-weight: 900;
                padding: 24px 88px;
                @media (max-width: 992px){
                    padding: 12px 48px;
                }
            }
        }
    }
}






